
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }



body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.obal {
    margin: 0 auto; 
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.headernav {
    text-transform: uppercase;
}

h1,
h3,
p {
    margin: 0;
}
h1 {
    font-weight: 400;
    font-size: 2rem;
}

h3 {
    color: #48418e;
}

.header {
    display: flex;
    line-height: normal;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
}

.header li {
    padding: 0.5rem;
    flex-basis: 50%;
}

.header a {
    color: #48418e;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.5rem;
}

.header a:hover {
    background-color: #25133d;
    color: white;
}

.main {
    background-image: url(images/pozadi.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 1px black;
    padding: 1rem;
}

.main p {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0 0 1rem 0;
}

.main li {
    margin-bottom: 1.5rem;
}
.main a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 100;
    padding: 0.5rem 2rem;
}

.main img {
    display: none;
}

.mainnav_1 {
    background-color: #48418e;
    border-radius: 5%;
    border: 1px white solid;
    padding: 0.2rem;
    font-size: 0.8rem;
}
.mainnav_1:hover {
    background-color: transparent;
    border: none;
}

.mainnav_2 {
    background-color: transparent;
    border-radius: 5%;
    border: 1px white solid;
    font-size: 0.8rem;
}

.mainnav_2:hover {
    background-color: #48418e;
    border: none;
}

img {
 width: 10%;
 height: 10%;
 margin: 1rem;
}

.subsection {
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
}


footer {
    background-color: #48418e;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

@media screen and (min-width: 480px) {

    .header ul {
        display: flex;     
        flex-wrap: nowrap;
        white-space: nowrap;
    }   
    .header a {
        font-size: 1rem;
    }
    h1 {
        font-size: 3.2rem;
    }

    .main p {
        font-size: 2.2rem;
        margin: 0 0 2rem 0;
    }
    .main ul {
        display: flex;
    }

    .main li {
        margin-right: 1rem;
    }
    .main a {
        padding: 0.5rem 1.3rem;
        font-size: 1rem;
    }
    
    .subsection { 
        display: flex;
    }

    .subsection p {
        padding: 0 1rem;
    }

    img {
        height: 15%;
        width: 15%; 
    }
}


@media screen and (min-width:750px) {
    .main {
        position: relative;
    }
    .main img {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: auto;
        margin: 0;
    }

    .main p {
        width: 500px;
    }
}
@media screen and (min-width: 860px) {
    h1 {
        font-size: 4.5rem;
        font-weight: 500;
    }
    .main {
        position: relative;
    }

    .main img {
        display: block;

        
    }
    .main p {
        font-size: 2.5rem;
    }

    .main a {
        font-size: 1.5rem;
        padding: 0.5rem 2rem;
    }   
    img {
        height: 20%;
        width: 20%; 
    }


}


